<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}"
      lang="en">
<div layout:fragment="content">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Register Page</h5>
<!--        <form action="/board/register" method="post">-->
        <div class="input-group mb-3">
          <span class="input-group-text">Bno</span>
          <input type="text" name="bno" class="form-control" th:value="${dto.bno}" readonly>
        </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Title</span>
            <input type="text" name="title" class="form-control" th:value="${dto.title}" readonly>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Content</span>
            <textarea name="content" class="form-control col-sm-5" rows="5" readonly>[[${dto.content}]]</textarea>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Writer</span>
            <input type="text" name="writer" class="form-control" th:value="${dto.writer}" readonly>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">PostDate</span>
            <input type="text" name="postdate" class="form-control" th:value="${dto.postdate}" readonly>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">VisitCount</span>
            <input type="text" name="visitcount" class="form-control" th:value="${dto.visitcount}" readonly>
          </div>
          <div class="input-group mb-3">
            <a th:href="|@{/board/modify(bno=${dto.bno})}|" class="text-decoration-none">
              <button type="button" class="btn btn-primary">Modify</button>
            </a>
            <a th:href="|@{/board/list}|" class="text-decoration-none">
              <button type="reset" class="btn btn-secondary">List</button>
            </a>
          </div>
<!--        </form>-->
      </div>
    </div>
  </div>
</div>

</body>
</html>